body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

header {
    height: 60px;
    width: 100%;
    line-height: 63px;
    font-size: larger;
    font-weight: bold;
    background: rgb(162, 232, 162);
    color:black
}

li {
    display: inline;
    padding: 0px 105px;
}


.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
} 